* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

/* header start */
.header {
    height: 100vh;
    width: 100vw;
    background-image: url('../images/banner/banner3.png');
    background-size: 100% 100%;
    text-align: right;
}

.header-cont {
    width: 30%;
    color: #fff;
    position: absolute;
    right: 200px;
    top: 200px;
}

.header-cont h1 {
    font-size: 50px;
    font-weight: 700;
    text-transform: capitalize;
}

.header-cont p {
    margin-top: 50px;
}

.header-cont button {
    margin-top: 50px;
    font-size: 18px;
    font-weight: 600;
    color: #005FAC;
    padding: 15px;
    border-radius: 5px;
    border: none;
    text-transform: capitalize;

}

/* header end */

/* main part start */
.previous-year {
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    padding: 100px;
}

.p-year1 {
    width: 50%;
}

.p-year1 img {
    width: 70%;
    margin-left: 100px;
}

.p-year2 {
    width: 50%;
}

.newdiv {
    width: 60%;
}

.newdiv article {
    margin: 30px 0;
    line-height: 25px;
}

.newdiv ul {
    line-height: 30px;
}

/* main part end */

/* aim section start */

.my-aim {
    /* background-blend-mode: overlay; */
    height: 700px;
    width: 100%;
    background-image: url("../images/my-background.jpg");
    background-size: 100% 100%;
    color: rgb(255, 255, 255);
    text-align: center;
}

.my-aim-wrap {
    margin: auto;
    height: 50%;
    width: 50%;
    padding-top: 100px;
    
}

.aim {
    background-image: linear-gradient(to right top,rgba(0, 0, 255, 0.475),rgba(0, 128, 0, 0.415), rgba(255, 0, 0, 0.537));
    border-radius: 10px;
    box-sizing: 2px 2px 2px gray;
}

.aim h1 {
    padding-top: 50px;
}

.aim p {
    margin-top: 50px;
}

.aim button {
    margin-top: 50px;
    padding: 10px 15px;
    background: gray;
    color: #fff;
    box-shadow: 2px 2px 5px rgb(255, 255, 255);
    text-shadow: 2px 2px 2px black;
    border-radius: 5px;
    border: none;
}

/* aim section end */